button {
    margin: 0.1rem .2rem;
    padding: .5rem 1rem;
    border-radius: .2rem;
    border: none;
    &.btn-primary {
        background-color: $c-primary;
        color: white
    }

    &.rounded {
        border-radius: 50%;
    }
}

button.small {
    margin: 0.1rem .2rem;
    padding: .1rem 1rem;
    border-radius: .2rem;
    border: none;
    background: wheat;
    color: black;
    font-weight: 100;
    font-size: 10px;

    &.active {
        background-color: transparent;
        border: 1px solid wheat;
        color: wheat;
    }
}