$c_white: white;
$c_gray_light: rgba(0, 0, 0, .4);
$c_gray: rgba(0, 0, 0, .7);
$c_black: black;

$c_primary: rgb(11, 47, 248);
$c_green: #66bb6a;
$c_green_light: #66bb6ac1;
$c_gold:#FAF826;
$c_orange: #66bb6a;
$c_orange: #66bb6a;

$wdb: #bbb;
$clr_blue_dark: #100626;
$clr_black_dark:#00010D;
$clr_gray:#242625;
$clr_gentle:#BFB79F;
$clr_pink:#BF8275;

$clr_green: #5ab95a;
$clr_green_light: #6abf6a;
$clr_green_dark: #4fa04f;

$clr_orange: #e8aa3d;
$clr_orange_light: #eeb34c;
$clr_orange_dark: #d59c39;
